/* full height */
html, body {
  min-height: 100%;
  height: 100%; }

body {
  font-family: lato, "Helvetica Neue", "Lucida Sans" , arial, sans-serif; }

#wrapper {
  height: 100%; }

/* App Layout */
.app-header {
  position: relative;
  z-index: 7; }

.app-header {
  padding: 1rem 2rem;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }

.app-body {
  position: relative; }

.menu {
  right: 1rem;
  top: 5rem;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all .3s;
          transition: all .3s; }
  .menu.hidden {
    display: none; }
  .menu.focus {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.node {
  cursor: pointer; }

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px; }

.node text {
  font-family: lato, "Helvetica Neue", "Lucida Sans" , arial, sans-serif;
  font-size: 14px;
  font-weight: 300; }

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px; }
