<template name="family_tree_page">
  {{#with family}}
  <div class="container">
    <div class="family-tree-page clearfix py4">
      <h3 class="center">{{name}}</h3>
      {{#if noPerson}}
      {{> create_root}}
      {{/if}}
      <div class="tree">
      </div>
      {{> menu}}
    </div>
  </div>
  {{/with}}
</template>

<template name="create_root">
  <form id="root" class="col-3 center mx-auto px2 py2">
    <input type="text" class="root block full-width field-light" placeholder="Root name">
    <label for="dob">Date of Birth</label>
    <input type="date" name="dob" class="dob block full-width field-light" id="dob">
    <button class="button-blue create-root" value="submit">Create Tree</button>
  </form>
</template>

<template name="menu">
  <div class="menu hidden fixed px1 py1">
    <form id="child">
      <input type="text" class="child field-light block full-width" placeholder="Child's Name">
      <label for="dob">Date of Birth</label>
      <input type="date" name="dob" class="dob block full-width field-light" id="dob">
      <button class="button-blue add-child" type="submit">Add Child</button>
    </form>
  </div>
  <!-- {{#with person}}
  <div class="menu fixed px1 py1">
    <h3 class="name">{{name}}</h3>
    <h4>Spouse</h4>
    {{#if spouse}}
      {{#each spouse}}
      <span class="spouse">{{spouse}}</span>
      {{/each}}
    {{else}}
    No spouse.
    {{/if}}

    <a href="#add" class="button button-blue add-child">Add Child</a>
  </div>
  {{/with}} -->
</template>